#app {
    margin-top: 30px;
}

#cities-header-title {
    display: flex;

}

.cities-header-title-content {
    flex: 1;
}

.submit-btn {
    margin-top: 25px;
}

.align-right {
    float: right;
}

.btn-align-right 
{
    float: right;
}
